<ul data-search-scholarships-target="list">
  <% @scholarships.sort { |a, b| a.school.name <=> b.school.name }.each do |scholarship| %>
  <li class="col-10">
    <p><small><%= scholarship.school.name %></small></p>
    <h2><%= scholarship.title %></h2>
    <p><%= scholarship.description %></p>
  </li>
  <% end %>
</ul>
