<div id="scholarships-index-page">
<h1>Scholarships</h1>
<div>
  <ul>
    <% @scholarships.each do |scholarship| %>
    <li class="col-10">
      <p><small><%= scholarship.school.name %></small></p>
      <h2><%= scholarship.title %></h2>
      <p><%= scholarship.description %></p>
    </li>
    <% end %>
  </ul>
</div>
</div>
