<div id="articles-index-page">
  <ul>
    <% @articles.sort { |a, b| b.date <=> a.date }.each do |article| %>
      <li class="col-10">
        <%= article.date %>
        <%= article.title %>
        <%= article.description %>
        <%= link_to "Delete",
              article_path(article),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
</div>
