<div id="articles-index-page">
  <ul>
    <% @articles.sort { |a, b| b.date <=> a.date }.each do |article| %>
      <li class="col-8">
        <div class="articles-image-wrapper">
          <img src="" alt="">
        </div>
        <div class="articles-content">
          <%= article.date %>
          <%= article.title %>
          <%= article.description %>
          <%= link_to "Delete",
                article_path(article),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
