<h1>Articles</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.date %>
      <%= article.title %>
      <%= article.description %>
      <%= link_to "Delete",
            article_path(article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
