<div id="articles-index-page">
  <ul>
    <% @articles.sort { |a, b| b.date <=> a.date }.each do |article| %>
      <li class="col-7">
        <div class="articles-image-wrapper">
          <img src="" alt="">
        </div>
        <div class="articles-content">
          <p class="articles-content-top"><strong>News</strong> · <%= article.date %></p>
          <h3><%= article.title %></h3>
          <p class="articles-content-description"><%= article.description.truncate(140) %></p>
          <p>
            <small><%= link_to "Delete",
                article_path(article),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </small>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
