#scholarships-index-page {
  background-color: #121212;
  padding: 16px 160px;
  color: #fff;
  min-height: 95vh;
  h1 {
    font-size: 26px;
    margin: 24px;
    font-weight: 300;
  }
  h2 {
    font-weight: 300;
    font-size: 22px;
  }
  ul {
    list-style-type: none;
    padding: 0px;
  }
  li {
    min-height: 200px;
    border-top: 1px solid #303030;
    margin: 24px auto;
    padding: 16px;
    font-weight: 300;
    &:last-child {
      border-bottom: 1px solid #303030;
    }
  }
  .scholarship-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-left {
      margin-right: 16px;
    }
    &-description {
      font-weight: 300;
      opacity: 0.75;
    }
  }
  .logo-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 4px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .scholarship-listing {
    margin: 0 auto;
  }
}
