<div class="home-page">
  <h1>Insightful Data on Schools</h1>
  <h2>Find the Right School</h2>
  <h2>Research Schools</h2>
  <h2>Compare Grades</h2>
  <h2>Apply to Schools</h2>
  <p>Millions of people are searching for schools, grade information, school
  reviews and interview questions. See what others are looking for on Scholarly
  today.</p>
</div>
