@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';
@import "users/signup";
@import "users/login";
@import "pages/home";

* {
  -webkit-font-smoothing: antialiased;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

nav {
  height: 80px !important;
  width: 100vw !important;
  background-color: #000000 !important;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  box-shadow: 0px 1px 10px #00000050;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  color: #fff !important;
  z-index: 100 !important;
  .left-section {
    display: flex;
    align-items: center;
  }
  .middle-section {
    form {
      display: flex;
      align-items: center;
      width: 50vw;
      padding-left: 75px;
    }
    .btn {
      position: relative;
      right: 80px;
      background-color: transparent;
      border: none;
      color: #FFA027;
    }
  }
  .right-section {
    display: flex;
  }
  .right-section ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    li {
      color: #fff;
      margin: 0px 8px;
    }
    a {
      color: #fff;
    }
  }

  #logo {
    font-size: 24px;
    font-family: 'Urbanist', sans-serif;
    margin: 0px;
    color: #fff;
  }
  svg {
    margin: 16px;
  }
}

.middle-section #query {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 12px 0;
  margin-bottom: 0px;
  border: 0;
  border-radius: 50px;
  font-size: 14.4px;
  background-color: #282828;
  text-indent: 0;
  color: #ffffff;
  outline: 0;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 2px 4px 0 #0000000d inset;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 22px;
  font-weight: 300;
}


body{
  margin-top: 80px !important;
  background-color: #121212;
}

.schools-page {
  display: flex;
  h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 24px 0px 24px 16px;
  }
  .schools {
    width: 55vw;
    background-color: #121212;
    padding: 16px;
    color: #fff;
    ul {
      list-style-type: none;
      padding: 0px;
    }
    li {
      border-top: 1px solid #303030;
      padding: 16px;
      display: flex;
      .image-wrapper {
        height: 175px;
        width: 225px;
        background-color: #282828;
        border-radius: 12px;
        margin-right: 16px;
      }
      a {
        color: #FFA027;
      }
      p {
        color: #fff;
      }
    }
  }
  .map-section {
    width: 45vw;
    position: sticky;
    height: 100vh;
    top: 80px;
    background-color: #282828;
  }
}

.school-details {
  font-weight: 300;
  font-size: 14.4px;
  h2 {
    font-size: 18px;
    font-weight: 300;
  }
}

.school-show-page {
  background-color: #121212;
  padding: 16px 160px;
  color: #fff;
  h1 {
    font-size: 26px;
  }
}
