.schools-page form input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 18px;
  left: 50%;
  margin-left: -205px;
  width: 400px;
  padding: 12px 0;
  margin-bottom: 0px;
  border: 0;
  border-radius: 50px;
  font-size: 14.4px;
  background-color: #ffffff;
  text-indent: 0;
  color: #121212;
  outline: 0;
  height: 44px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 2px 4px 0 #0000000d inset;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 22px;
  font-weight: 300;
  z-index: 999;
}
