.cover-image {
  height: 200px;
  width: 1120px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-image {
  position: relative;
  bottom: 50px;
  left: 16px;
  img {
    border-radius: 4px;
    height: 100px;
    width: 100px;
  }
}
.cover-section {
  height: 320px;
  .cover-section-details {
    display: flex;
  }
  h1 {
    margin: 16px 32px;
  }
}
.school-thumbnail img {
  border-radius: 12px;
}
